/*=============================================
=            Base-style            =
=============================================*/

html {
  box-sizing: border-box;
  height: 100%;
}

:root {
  --primary-text-color: #808080;
  --global-bcg-color: #000000;
  --defolt-white-color: #ffffff;
  --akcent-color: #ce2d0d;
  --gradient-red-start: #8B0000; /* Темний насичений червоний */
  --gradient-red-end: #FF4500;   /* Яскравий червоний */
  --gradient-black: #000000;     /* Чорний */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--global-bcg-color);
  color: var(--primary-text-color);
  font-family: Montserrat, 'sans-serif';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.border {
  border: 0.313rem solid rgba(255, 255, 255, 0.8);
  border-radius: 0.616rem;
  padding: 0.938rem;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
  background-color: rgba(50, 50, 50, 0.8);
}

/*=====  End of Base-style  ======*/

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem 2rem; 


}
.gradient_container {
    background: linear-gradient(135deg, var(--gradient-black) 30%, var(--gradient-red-start) 70%, var(--gradient-red-end) 100%);
    color: white; /* Контрастний текст */
}
.header_logo {
  display: flex;
  align-items: center; 
}

.header_list {
  display: flex;
  gap: 1.5rem;
}

.header_list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--defolt-white-color); 
  cursor: pointer;
  transition: color 0.3s ease, fill 0.3s ease; 
}
.header_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}
.header_list_item svg {
    fill: var(--defolt-white-color);
    transition: fill 0.3s ease; 
}

.header_list_item:hover {
    color: rgb(255, 65, 65); 
}

.header_list_item:hover svg {
    fill: rgb(255, 65, 65); 
}



/*=============================================
=            Home section            =
=============================================*/
.home_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem;
    position: relative;

}
.home_container {
  display: flex;
  gap: 100px;
  margin-top: 300px;
  margin-bottom: 300px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1140px;  
}



.home_section_title {
    font-size: 3rem;
    color: var(--defolt-white-color);
    display: flex;
}

.home_description {
    font-size: 1.5rem;
    color: var(--primary-text-color);
    margin-top: 1rem;
}

.home_buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.btn {
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color:var(--akcent-color);
  color: var(--defolt-white-color);
  width: 200px;
}
.btn:hover {
  background-color:var(--defolt-white-color);
  color: var(--global-bcg-color);
}




/*=====  End of Home section  ======*/



/*=============================================
=            about section            =
=============================================*/
.about_section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1140px;
}
.about {
  color: var(--defolt-white-color);
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_par {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}
.help_par {
  text-align: center;
  font-weight: 800;
  color: rgb(255, 102, 102);
  font-size: 30px;
  margin-bottom: 20px;
}
.about_section_title {
  text-align: center;
  margin-bottom: 48px;
  font-size: 3rem;
}



.skills_title {
  color: var(--defolt-white-color);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 48px;
}
.skills_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  gap: 80px; /* Відстань між елементами */
  justify-items: center; /* Вирівнювання по центру */
  align-items: center; /* Вирівнювання по вертикалі */
}

.skills_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 100px;
  height: 100px;
}



/*=====  End of about section  ======*/





